@tailwind base;
@tailwind components;
@tailwind utilities;
.home-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #e6e8f1;
  -webkit-app-region: no-drag;
  .body-container {
    display: flex;
    flex: 1;
    gap: 8px;
    overflow: hidden;
    .main-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 4px;
      width: 100%;
      overflow: hidden;
      padding-right: 4px;
      .operator-page {
        display: flex;
        gap: 8px;
        animation: slideIn 0.6s forwards;
        flex-direction: column;
        overflow: auto;
        .db-card {
          display: flex;
          gap: 8px;
          overflow-y: auto;
          padding: 4px 0px;
          min-height: 120px;
          &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
          }
          .items {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 250px;
            min-width: 200px;
            border-radius: 16px;
            box-shadow: 2px 2px 4px #00000010;
            padding: 10px;
            .name {
              font-size: 18px;
            }
            .value {
              font-size: 32px;
              text-align: center;
            }
            .content {
              margin-top: 10px;
              font-size: 13px;
              color: #999;
            }
          }
        }
      }
      .employee-page {
        animation: slideIn 0.6s forwards;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }
        .db-card {
          display: flex;
          gap: 8px;
          overflow: auto;
          padding: 4px 0px;
          .items {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 250px;
            min-width: 200px;
            border-radius: 16px;
            box-shadow: 2px 2px 4px #00000010;
            padding: 10px;
            .name {
              font-size: 18px;
            }
            .value {
              font-size: 32px;
              text-align: center;
            }
            .content {
              margin-top: 10px;
              font-size: 13px;
              color: #999;
            }
          }
          &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
          }
        }
        .panel-cl {
          display: flex;
          background-color: #fff;
          border-radius: 8px;
          padding: 4px;
          justify-content: center;
        }
        .employee-list {
          display: flex;
          gap: 8px;
          overflow: auto;
          .employee-details {
            width: 500px;
            background-color: #fff;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
          }
        }
        .right-box {
          display: flex;
          gap: 8px;
          flex-direction: column;
          min-width: 900px;
          .tools {
            display: flex;
            justify-content: space-between;
            .right {
              display: flex;
              gap: 4px;
              button {
                font-size: 12px;
              }
            }
            .left {
              display: flex;
              gap: 4px;
              .searchbox {
                display: flex;
                border-radius: 8px;
                overflow: hidden;
                background-color: #fff;
                box-shadow: 2px 2px 4px #0002;
                align-items: center;
                i {
                  width: 24px;
                  text-align: right;
                  font-size: 13px;
                  color: #0005;
                }
              }
            }
          }
        }
        .department {
          background-color: #fff;
          width: 300px;
          border-radius: 8px;
          box-shadow: 2px 2px 4px #0002;
          overflow: hidden;
          .h3 {
            padding: 10px 8px;
            font-size: 16px;
            color: #ebeef1;
            display: flex;
            justify-content: space-between;
            color: rgb(0, 87, 145);
            transition: all 0.3s;
            .right {
              button.no-add {
                border: hidden;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                cursor: pointer;
                transition: all 0.3s;
                background-color: transparent;
                color: #b0b7c0;
                &:hover {
                  background-color: #d3d3d3;
                  color: #73789d;
                }
              }
            }
          }
          .list-department {
            display: flex;
            flex-direction: column;
            .items {
              display: flex;
              padding: 8px;
              justify-content: space-between;
              color: #7c7c7c;
              border-top: 1px solid #0002;
              cursor: pointer;
              transition: all 0.3s;
              .right {
                i {
                  color: #0003;
                  transition: all 0.3s;
                }
              }
              &:hover {
                color: #1f2022;
                background-color: #edf0f5;
                .right {
                  i {
                    color: #0003;
                    margin-right: 6px;
                  }
                }
              }
            }
          }
        }
      }
      .route-container {
        display: flex;
        padding: 4px;
        color: #999;
        gap: 8px;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 2px 2px 4px #0001;
        .route-container {
          box-shadow: none;
        }
        i {
          font-size: 11px;
          padding: 3px 6px 0px 6px;
          color: #0003;
        }
        a {
          color: #999;
          text-decoration: none;
          i {
            color: #999;
            padding: 0px 5px;
            font-size: 15px;
          }
        }
      }
      .employeer-table {
        background-color: #fff;
        border-radius: 8px;
        width: 100%;
        table {
          width: 100%;
          border-spacing: 0px;
          thead {
            tr {
              th {
                cursor: pointer;
                font-size: 0.7rem;
                white-space: nowrap;
                text-align: left;
                padding: 0px 5px;
                height: 40px;
                font-weight: 500;
                user-select: none;
                color: #8d8d8d;
                position: relative;
                vertical-align: middle;
                max-width: 300px;
                &:first-child {
                  width: 60px;
                  text-align: center;
                }
                &:last-child {
                  width: 50px;
                }
                .filter {
                  position: absolute;
                  right: 5px;
                  top: 0;
                  height: 40px;
                  justify-content: center;
                  transition: all 0.3s;
                  i {
                    line-height: 1;
                    font-size: 13px;
                    color: #0003;
                    &.active {
                      color: #000;
                    }
                  }
                }
              }
            }
          }
          tbody {
            tr {
              border-top: 1px solid #e1e1e1;
              transition: all 0.3s;
              &:hover {
                background-color: #f1f5f8;
              }
              td {
                padding: 2px 5px;
                white-space: nowrap;
                font-size: 0.8rem;
                &:first-child {
                  text-align: center;
                }
                a {
                  color: #003f97;
                  transition: all 0.3s;
                  cursor: pointer;
                  &:hover {
                    color: #006aff;
                    text-decoration: underline;
                  }
                }
                .online {
                  color: #31b401;
                  font-weight: 550;
                }
                .offline {
                  color: #acacac;
                  font-weight: 550;
                }
                &.null {
                  padding: 20px;
                }
                .on {
                  color: #34c400;
                }
                .off {
                  color: #b3b3b3;
                }
                .work {
                  color: #21c300;
                }
                .notwork {
                  color: rgb(196, 3, 0);
                }
                &.none {
                  text-align: center;
                  padding: 40px;
                }
                &.isOut {
                  font-size: 0.7rem;
                  font-weight: 700;
                  padding: 5px 8px;
                  text-align: center;
                  .flex-col {
                    align-items: center;
                  }
                }
                div {
                  a {
                    max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                button {
                  padding: 6px 10px;
                  font-size: 0.8rem;
                  outline: none;
                  border: hidden;
                  transition: all 0.3s;
                  border-radius: 5px;
                  &.edit {
                    color: #437dcf;
                    &:hover {
                      color: #006aff;
                      background-color: #d5deeb;
                    }
                  }
                  &.remove {
                    color: #cc6767;
                    &:hover {
                      color: #f70505;
                      background-color: #ebd5d5;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .app-container {
      margin-left: 4px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 68px;
      border-radius: 8px;
      overflow: hidden;
      min-width: 68px;
      .list-app {
        border-bottom: 1px solid rgb(178, 199, 212);
        padding: 4px;
        &:last-child {
          border-bottom: hidden;
        }
        .item {
          display: flex;
          flex-direction: column;
          height: 60px;
          overflow: hidden;
          align-items: center;
          justify-content: center;
          gap: 4px;
          cursor: pointer;
          transition: all 0.3s;
          border-radius: 6px;
          color: #a6b2c2;
          text-decoration: none;
          .icon {
            font-size: 18px;
          }
          .name {
            font-size: 11px;
            font-weight: 550;
            white-space: nowrap;
          }
          &:hover {
            background-color: #f1f5fc;
            color: #214c85;
          }
          .avatar {
            border: 3px solid #fff;
            box-shadow: 2px 2px 4px #0002;
            width: 46px;
            height: 46px;
            border-radius: 8px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .top-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 4px;
    animation: slideIntop 0.3s forwards;
    -webkit-app-region: drag;
    user-select: none;
    .app-nav {
      display: flex;
      gap: 8px;
      align-items: center;
      background-color: #fff;
      padding: 2px 8px 2px 4px;
      box-shadow: 1px 2px 3px rgb(195 195 195 / 20%);
      border-radius: 8px;
      white-space: nowrap;
      flex: 1;
      .logo {
        -webkit-app-region: no-drag;
        .box {
          width: 32px;
          height: 32px;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .name {
        font-weight: 600;
        color: rgb(0, 153, 255);
        text-shadow: 1px 2px 3px #0002;
      }
    }
    .right-nav {
      display: flex;
      gap: 12px;
      .tools-nav {
        display: flex;
        gap: 6px;
        .list {
          background-color: #fff;
          box-shadow: 2px 2px 4px #0002;
          padding: 4px;
          border-radius: 12px;
          gap: 4px;
          -webkit-app-region: no-drag;
          display: flex;
          gap: 4px;
          .item {
            align-items: center;
            gap: 5px;
            display: flex;
            padding: 0px 4px;
            font-size: 13px;
            color: #bebebe;
            user-select: none;
            cursor: pointer;
            transition: all 0.3s;
            white-space: nowrap;
            &:hover {
              color: #2e3049;
            }
            i {
              width: 20px;
              text-align: center;
            }
          }
        }
      }
      .app-actions {
        display: flex;
        background-color: #fff;
        box-shadow: 2px 2px 4px #0002;
        padding: 2px;
        border-radius: 12px;
        gap: 4px;
        -webkit-app-region: no-drag;
        user-select: none;
        .item {
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ccd1dd;
          transition: all 0.3s;
          border-radius: 12px;
          cursor: pointer;
          &:hover {
            background-color: #e3eaff;
            color: #006dff;
            box-shadow: 1px 2px 3px #0001 inset;
          }
          &.close {
            &:hover {
              background-color: #ffe9e9;
              color: #ff0000;
            }
          }
        }
      }
    }
  }
}
body,
#root {
  position: fixed;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  -webkit-app-region: drag;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.flex {
  display: flex;
}
.fc {
  display: flex;
  flex-direction: column;
}
.g4 {
  gap: 4px;
}
.loading-spinner {
  border: 6px solid rgba(0, 0, 0, 0.1); /* Màu nền của spinner */
  border-left-color: #09f; /* Màu quay */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}
.app-load {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .body {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    animation: slideIntop 1s ease-out;
    .logo {
      width: 80px;
      animation: fadeInfinite 2s linear infinite;
      img {
        width: 100%;
      }
    }
  }
  .bottom {
    margin-top: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    animation: slideIn 1s ease-out;
    .logo {
      background-color: #09f;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 10px;
      img {
        width: 100%;
      }
      .value {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
      }
    }
    .coppy-right {
      font-size: 15px;
      display: flex;
      gap: 5px;
      color: #8d8e8f;
      .author {
        font-weight: 500;
        color: #09f;
      }
    }
  }
  .version {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #999;
    font-weight: 500;
    font-size: 13px;
    animation: fadeIn 1s ease-out;
  }
}
.full {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.custom-form .ant-form-item {
  margin-bottom: 10px; /* Điều chỉnh khoảng cách */
}
.ant-modal-content {
  padding: 0px !important;
  .ant-modal-close {
    top: 10px;
  }
  .ant-modal-header {
    padding: 14px 22px;
    border-bottom: 1px solid #0003;
    box-shadow: 2px 2px 4px #0001;
    margin-bottom: 0px;
  }
  .ant-modal-body {
    padding: 12px 24px;
    .ant-form-item {
      margin-bottom: 10px;
    }
  }
  .ant-modal-footer {
    padding: 0px 24px 20px 24px;
  }
}
.error {
  color: red;
}
.profile-page {
  width: 100%;
  height: 100%;
  overflow: auto;
  animation: slideIn 0.6s forwards;
  overflow: auto;
  .profile-box {
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    .big {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 743px;
    }
    .user-infos {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 5px;
      padding: 0px 8px;
      .list-item {
        display: flex;
        flex-direction: column;
        .item {
          display: flex;
          justify-content: space-between;
          padding: 8px;
          border-top: 1px solid #0002;
          .name {
            color: #505050;
            display: flex;
            align-items: center;
            gap: 10px;
            .icon {
              display: flex;
              align-items: center;
              width: 20px;
              height: 20px;
              img {
                width: 100%;
              }
            }
          }
          .value {
            display: flex;
            gap: 5px;
            align-items: center;
            i {
              font-size: 11px;
              color: rgb(189, 189, 189);
            }
            select {
              border: hidden;
              outline: none;
              color: #4e4e4e;
              max-width: 150px;
            }
            input {
              padding: 0px 8px;
              color: #383a41;
              border: 1px solid transparent;
              background-color: transparent;
              outline: none;
              text-align: right;
              font-size: 13px;
              transition: all 0.3s;
              background-color: #ffffff;
              border-radius: 8px;
              &:focus {
                color: #040425;
              }
              &[type="date"] {
                border: 1px solid #0003;
                color: #999;
                text-align: left;
              }
            }
          }
          &.last_update {
            font-size: 13px;
            .name {
              color: #979797;
            }
            .value {
              color: #979797;
            }
          }
        }
      }
    }
    .wall-box {
      display: flex;
      flex-direction: column;
      height: 255px; /* Chiều cao tối đa của phần tử */
      background-size: cover; /* Ảnh nền sẽ phủ kín phần tử */
      background-position: center; /* Căn giữa ảnh nền */
      background-repeat: no-repeat; /* Không lặp ảnh nền */
      position: relative;
      .background {
        height: 200px; /* Chiều cao tối đa của phần tử */
        background-size: cover; /* Ảnh nền sẽ phủ kín phần tử */
        background-position: center; /* Căn giữa ảnh nền */
        background-repeat: no-repeat; /* Không lặp ảnh nền */
        position: absolute;
        width: 100%;
        overflow: hidden;
        .upload-wall {
          z-index: 1;
          position: absolute;
          bottom: 5px;
          right: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          padding: 8px;
          height: 30px;
          border-radius: 6px;
          z-index: 2;
          opacity: 0.5;
          transition: all 0.3s;
          cursor: pointer;
          label {
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: 12px;
            color: #214c85;
            cursor: pointer;
            .text {
              width: 0px;
              overflow: hidden;
              transition: all 0.3s;
            }
          }
          i {
            font-size: 15px;
          }
          &:hover {
            opacity: 1;
            label {
              .text {
                width: 54px;
                padding-left: 5px;
              }
            }
          }
          input {
            display: none;
          }
        }
      }
      .user-info {
        z-index: 1;
        display: flex;
        margin-top: auto;
        padding: 0px 20px;
        align-items: flex-end;
        gap: 20px;
        .avatar {
          width: 100px;
          height: 100px;
          position: relative;
          .image-box {
            width: 100px;
            height: 100px;
            border-radius: 16px;
            overflow: hidden;
            border: 4px solid #fff;
            box-shadow: 2px 2px 4px #0002;
            background-color: #fff;
          }
          .upload {
            position: absolute;
            bottom: -5px;
            right: -5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ced4db;
            padding: 5px;
            height: 25px;
            border-radius: 6px;
            z-index: 2;
            opacity: 0.5;
            transition: all 0.3s;
            label {
              display: flex;
              align-items: center;
              white-space: nowrap;
              font-size: 12px;
              color: #214c85;
              .text {
                width: 0px;
                overflow: hidden;
                transition: all 0.3s;
              }
              cursor: pointer;
            }
            i {
              font-size: 15px;
            }
            &:hover {
              opacity: 1;
              label {
                .text {
                  width: 54px;
                  padding-left: 5px;
                }
              }
            }
            input {
              display: none;
            }
          }
        }
        .infor {
          display: flex;
          flex-direction: column;
          flex: 1;
          .name {
            font-size: 18px;
            input {
              outline: none;
              border: hidden;
            }
          }
          .description {
            font-size: 13px;
            color: rgb(112, 112, 126);
            display: flex;
            gap: 5px;
            input {
              border: 1px solid transparent;
              background-color: transparent;
              outline: none;
              padding-bottom: 2px;
              border-bottom: 1px solid #0003;
              width: -webkit-fill-available;
              &:disabled {
                border: 1px solid transparent;
              }
            }
            button {
              padding: 2px 6px;
              font-size: 11px;
              color: #0003;
              transition: all 0.3s;
              cursor: pointer;
              border-radius: 5px;
              &:hover {
                color: #999;
                border: 1px solid #0003;
              }
            }
          }
        }
      }
    }
  }
}
.outlet-box {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.modal-view {
  display: flex;
  flex: 1;
  table {
    width: 100%;
    tr {
      th {
        text-align: left;
        font-size: 13px;
        font-weight: 500;
        color: #999;
        padding: 4px;
      }
      td {
        padding: 4px;
        border-top: 1px solid #0002;
        border-bottom: 1px solid #0002;
        input {
          padding: 4px 8px;
        }
        &:first-child {
          font-weight: 500;
        }
      }
    }
    tbody.input-edit {
      td {
        input {
          padding: 2px 6px;
          border: hidden;
          outline: none;
          background-color: rgb(233, 239, 240);
        }
      }
    }
  }
}
button {
  &.edit {
    padding: 2px 8px;
    font-size: 13px;
    background-color: transparent;
    color: #71b0e4;
    border: hidden;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 4px;
    &:hover {
      color: #008cff;
      border: 1px solid #008cff;
    }
  }
  &.delete {
    padding: 2px 8px;
    font-size: 13px;
    color: #aa675e;
    border: hidden;
    background-color: transparent;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 4px;
    &:hover {
      color: #b12d1c;
      border: 1px solid #b12d1c;
    }
  }
}
.fixed-w {
  button {
    width: 25px;
    font-size: 13px;
  }
}
.editable-cell {
  color: #003f97;
  border-bottom: 1px solid #1677ff;
  outline: none;
}
.null {
  color: #0003;
}
.fadeIn {
  animation: fadeIn 0.5s forwards;
}
.tool-list {
  i {
    font-size: 11px;
  }
}
.ant-modal-body {
  .h3 {
    display: flex;
    font-weight: 600;
    height: 35px;
    align-items: center;
    font-size: 13px;
  }
  .list-input {
    background-color: rgb(235, 245, 255);
    padding: 4px 8px;
    border-radius: 10px;
  }
  .add_Operator {
    .ant-form-item {
      padding: 0px;
      margin: 10px 0px;
    }
  }
}
.company-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  animation: slideIn 0.6s forwards;
  overflow: auto;
  .description {
    margin: 20px 8px 0px 8px;
    textarea {
      padding: 6px;
      border: 1px solid rgba(145, 145, 145, 0.2);
      width: 100%;
      outline: none;
      font-size: 13px;
      color: #999;
      resize: none;
      border-radius: 8px;
    }
  }
  .company-profile {
    background-color: #fff;
    width: 400px;
    min-width: 400px;
    border-radius: 12px;
    box-shadow: 2px 3px 4px #0001;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .profile-container {
      display: flex;
      flex-direction: column;
      padding: 8px;
      .item {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #0002;
        align-items: center;
        font-size: 14px;
        .value {
          input {
            outline: none;
            text-align: right;
          }
        }
        .left {
          display: flex;
          align-items: center;
          gap: 8px;
          .name {
            color: #4e4e4e;
          }
          .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            font-size: 18px;
            color: #888888;
            img {
              width: 18px;
              user-select: none;
              opacity: 0.5;
            }
          }
        }
        .on {
          color: green;
          font-size: 13px;
          font-weight: 500;
        }
        .off {
          color: #999;
        }
        &:last-child {
          .value {
            padding: 8px 0px;
            font-size: 13px;
            color: #999;
          }
        }
      }
    }
    .avatar-container {
      position: relative;
      display: flex;
      height: 260px;
      .background {
        position: absolute;
        width: 100%;
        height: 200px;
        background-size: cover; /* Ảnh nền sẽ phủ kín phần tử */
        background-position: center; /* Căn giữa ảnh nền */
        background-repeat: no-repeat; /* Không lặp ảnh nền */
        .upload-wall {
          z-index: 1;
          position: absolute;
          bottom: 5px;
          right: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          padding: 8px;
          height: 30px;
          border-radius: 6px;
          z-index: 2;
          opacity: 0.5;
          transition: all 0.3s;
          cursor: pointer;
          label {
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: 12px;
            color: #214c85;
            cursor: pointer;
            .text {
              width: 0px;
              overflow: hidden;
              transition: all 0.3s;
            }
          }
          i {
            font-size: 15px;
          }
          &:hover {
            opacity: 1;
            label {
              .text {
                width: 54px;
                padding-left: 5px;
              }
            }
          }
          input {
            display: none;
          }
        }
      }
      .avatar {
        z-index: 1;
        display: flex;
        margin-top: auto;
        padding: 0px 12px;
        gap: 12px;
        flex: 1;
        .logo {
          height: 100px;
          max-width: 100px;
          border-radius: 12px;
          box-shadow: 2px 2px 4px #0002;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            object-fit: cover;
          }
          .upload {
            position: absolute;
            bottom: 5px;
            right: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ced4db;
            padding: 5px;
            height: 25px;
            border-radius: 6px;
            z-index: 2;
            opacity: 0.5;
            transition: all 0.3s;
            label {
              display: flex;
              align-items: center;
              white-space: nowrap;
              font-size: 12px;
              color: #214c85;
              .text {
                width: 0px;
                overflow: hidden;
                transition: all 0.3s;
              }
              cursor: pointer;
            }
            i {
              font-size: 15px;
            }
            &:hover {
              opacity: 1;
              label {
                .text {
                  width: 54px;
                  padding-left: 5px;
                }
              }
            }
            input {
              display: none;
            }
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          flex: 1;
          .name {
            font-size: 18px;
          }
          .fullname {
            font-size: 13px;
            display: flex;
            align-items: flex-end;
            input {
              width: 100%;
              outline: none;
              border: hidden;
              border-bottom: 1px solid #7a9eff;
              color: #7a9eff;
              padding: 2px 0px;
              transition: all 0.3s;
              &:read-only {
                color: #999;
                border-bottom: 1px solid transparent !important;
              }
            }
            button {
              margin-left: auto;
              font-size: 12px;
              color: #0006;
              border: 1px solid transparent;
              padding: 2px 5px;
              border-radius: 5px;
              transition: all 0.3s;
              &:hover {
                color: #000;
                border: 1px solid #000;
              }
            }
          }
        }
      }
    }
  }
}
.white-table {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 3px 4px #0001;
  .panel-cl-inline {
    margin-top: auto;
    padding: 8px;
    display: flex;
    justify-content: center;
  }
  .h3 {
    display: flex;
    justify-content: space-between;
    padding: 12px 12px 8px 12px;
    font-size: 13px;
    .text {
      font-weight: 550;
    }
  }
  table {
    width: 100%;
    tr {
      th {
        text-align: left;
        font-size: 13px;
        font-weight: 500;
        color: #999;
        padding: 4px;
      }
      td {
        padding: 6px 4px;
        border-top: 1px solid #0002;
        border-bottom: 1px solid #0002;
        input {
          padding: 4px 8px;
        }
        &:first-child {
          font-weight: 500;
        }
        .ant-empty {
          padding: 8px 0px;
          .ant-empty-description {
            color: #cecece;
          }
        }
      }
    }
    tbody.input-edit {
      td {
        input {
          padding: 2px 6px;
          border: hidden;
          outline: none;
          background-color: rgb(233, 239, 240);
        }
      }
    }
  }
}
.tabs {
  display: flex;
  background-color: #fff;
  padding: 4px;
  gap: 2px;
  border-radius: 12px 12px 0px 0px;
  .item {
    border-radius: 8px;
    font-size: 13px;
    padding: 8px 12px 4px 12px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    color: #999;
    flex-direction: column;
    cursor: pointer;
    &::after {
      margin-top: 2px;
      height: 3px;
      border-radius: 5px;
      width: 0%;
      background-color: #008cff;
      content: " ";
      transition: all 0.3s;
    }
    &:hover {
      background-color: #f3f9ff;
      color: #0b4aa3;
    }
    &.active {
      color: #0059d6;
      &::after {
        margin-top: 2px;
        height: 3px;
        border-radius: 5px;
        width: 100%;
        background-color: #008cff;
        content: " ";
      }
    }
  }
}
.white-box {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #0001;
  &.operator-selected {
    width: 500px;
    min-height: 600px;
    overflow: hidden;
    border-radius: 12px;
    border-radius: 0px 12px 12px 12px;
    .animationbox {
      animation: slideIn 0.6s forwards;
    }
    .op-tools {
      display: grid;
      padding: 12px;
      grid-template-columns: repeat(
        4,
        minmax(60px, 1fr)
      ); /* Định nghĩa số cột tự động */
      gap: 10px; /* Khoảng cách giữa các item */
      justify-content: center; /* Căn giữa nếu còn khoảng trống */
      align-content: center; /* Căn dọc nếu còn khoảng trống */
      width: 100%; /* Chiếm toàn bộ chiều rộng container */
      .item {
        background-color: #e8f1ff;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        max-width: 300px;
        .left {
          color: #47568a;
          @apply flex items-center flex-col py-3 px-2 h-full overflow-hidden;
          .icon {
            height: 34px;
            font-size: 18px;
            @apply justify-center items-center flex ml-1;
          }
          .name {
            font-size: 13px;
            @apply flex items-center whitespace-nowrap overflow-hidden mt-auto text-ellipsis;
          }
          .value {
            font-size: 11px;
            font-weight: 500;
            height: 15px;
          }
        }
        &:hover {
          background-color: #b8cdeb;
          .left {
            color: #000;
            transition: all 0.3s;
          }
        }
        &.out {
          background-color: #faeaea;
          .left {
            color: #c50000;
          }
          &:hover {
            background-color: #ffe2e2;
            .left {
              color: #f80000;
              transition: all 0.3s;
            }
          }
        }
      }
    }
    .history {
      display: flex;
      flex-direction: column;
      padding: 0px 8px;
      .item {
        border-left: 4px solid #b8ddff;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        position: relative;
        color: #323538;
        font-size: 13px;
        &.online::before {
          content: " ";
          position: absolute;
          left: -7px;
          top: calc(50% - 5px);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #1677ff;
          border: 1px solid #1677ff;
        }
        .time {
          font-size: 13px;
          font-weight: 500;
          color: #197ec2;
        }
        .company {
          background-color: #e8f4ff;
          border-radius: 6px;
          padding: 8px;
          display: flex;
          flex-direction: column;
          .name {
            color: #156ce6;
          }
        }
      }
    }
    .op-card {
      padding: 8px;
      .box {
        height: 150px;
        background: linear-gradient(187deg, #f5f9ff, #c0cbd9, #b8c3d1);
        border-radius: 12px;
        display: flex;
        .left {
          display: flex;
          align-items: center;
          padding: 8px 20px;
          flex-direction: column;
          justify-content: center;
          .id {
            font-size: 11px;
            margin-top: 8px;
            max-width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 500;
          }
          .avatar {
            width: 200px;
            height: 100px;
            border-radius: 8px;
            background-color: #0001;
            box-shadow: -1px -1px 4px #0001 inset;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          font-size: 13px;
          gap: 12px;
          .address {
            font-size: 12px;
            &:last-child {
              margin-bottom: 14px;
            }
          }
          .user-info {
            display: flex;
            flex-direction: column;
            width: 220px;
            font-size: 13px;
            gap: 2px;
            margin-top: auto;
          }
          .item {
            display: flex;
            justify-content: space-between;
            .value {
              font-weight: 500;
              width: 160px;
              text-align: right;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
    .image {
      display: flex;
      gap: 6px;
      padding: 6px;
      .item {
        border: 1px solid #eeeeee;
        display: flex;
        flex: 1;
        height: 130px;
        border-radius: 8px;
        overflow: hidden;
        background-color: #eee;
        img {
          width: 100%;
          object-fit: cover;
          font-size: 13px;
          color: #999;
        }
      }
    }
    .form-edit {
      display: flex;
      flex-direction: column;
      padding: 0px 12px;
      .item {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eeeeee;
        padding: 6px;
        align-items: center;
        font-size: 13px;
        &:last-child {
          border-bottom: 1px solid #eeeeee;
        }
        .left {
          display: flex;
          flex: 1;
          .name {
            font-weight: 450;
            color: #646464;
          }
        }
        .right {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          overflow: hidden;
          .text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          input {
            padding: 4px;
            text-align: right;
            width: -webkit-fill-available;
          }
        }
      }
    }
  }
}
.ant-popover-content {
  .ant-popconfirm-inner-content {
    .ant-popconfirm-message {
      .ant-popconfirm-message-icon {
        margin-right: 8px;
        font-size: 13px;
      }
    }
    .ant-popconfirm-buttons {
      button {
        font-size: 13px;
        padding: 6px 8px;
        height: 28px;
        &.ant-btn-warning {
          border: 1px solid rgb(211, 191, 191);
          color: rgb(214, 35, 35);
          &:hover {
            color: red;
            border-color: red;
          }
        }
      }
    }
  }
}
