.login-page {
  -webkit-app-region: drag;
  display: flex;
  flex: 1;
  user-select: none;
  .video-container {
    -webkit-app-region: no-drag;
    display: flex;
    flex: 1;
    background-color: #dbe2e7;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px #0002 inset;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .video-description {
      margin-left: auto;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      .box-sizing {
        border-radius: 20px;
        width: 160px;
        height: 180px;
      }
      .box-view {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.333);
        backdrop-filter: blur(10px); /* Hiệu ứng làm mờ */
        -webkit-backdrop-filter: blur(10px); /* Hỗ trợ trình duyệt WebKit */
        border-radius: 8px; /* Tùy chọn: bo góc */
        box-shadow: 2px 4px 10px #0003; /* Tùy chọn: thêm đổ bóng */
        overflow: hidden;
        .qr {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .logo {
            position: absolute;
            width: 34px;
            padding: 3px;
            background-color: #fffc;
            border-radius: 10px;
            img {
              border-radius: 10px;
              width: 100%;
            }
          }
        }
        .title {
          margin-top: auto;
          width: 100%;
          text-align: center;
          background-color: #120e3b;
          color: #ffffff9f;
          font-weight: 600;
          padding: 8px;
          font-size: 13px;
        }
      }
    }
  }
  .login-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 340px;
    background-color: #fff;
    font-size: 0.9rem;
    .login-box {
      -webkit-app-region: no-drag;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: -webkit-fill-available;
      .register,
      .forget-pass {
        text-align: center;
        color: #0066f4;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 0.8rem;
        &:hover {
          text-decoration: underline;
        }
      }
      .exit {
        text-align: center;
        color: #a3a3a3;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 0.8rem;
        &:hover {
          text-decoration: underline;
        }
      }
      .header {
        font-size: 2rem;
        font-weight: 700;
        color: #0093ef;
        // text-transform: uppercase;
      }
      .hi {
        font-size: 1rem;
        color: #0071b8;
        font-weight: 500;
      }
      .with-zalo {
        button {
          padding: 8px;
          border-radius: 8px;
          width: -webkit-fill-available;
          outline: none;
          background-color: #fff;
          color: #4f46e5;
          border: 1px solid #4f46e5;
          height: 38px;
          transition: all 0.3s;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            cursor: pointer;
            background-color: #e3eaff;
          }
        }
      }
      .login-btn {
        button {
          padding: 8px;
          border-radius: 8px;
          width: -webkit-fill-available;
          outline: none;
          background-color: #4f46e5;
          color: #fff;
          border: 1px solid #e5e7eb;
          height: 42px;
          transition: all 0.3s;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            cursor: pointer;
            background-color: #5f87ff;
          }
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .items {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .name {
            font-weight: 500;
            color: #0071b8;
          }
          .value {
            input {
              padding: 0px 8px;
              border-radius: 8px;
              border: 1px solid #c3c7d0;
              width: -webkit-fill-available;
              height: 40px;
              outline: none;
              &::placeholder {
                color: #c3c3c3;
              }
            }
          }
        }
      }
    }
  }
}
.app-version {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
  gap: 5px;
  align-items: flex-end;
  font-size: 11px;
  color: #999;
  .logo {
    color: #fff;
    background-color: #09f;
    padding: 2px 8px;
    border-bottom-right-radius: 4px;
  }
}
